{{$sudo := "sudo " -}}
{{if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{end -}}
{{  if eq .ostype "debian" -}}
#!/bin/bash

# Debian systems
# ============================================================
{{    $packages := list
        "curl"
        "jq"
        "make"
        "neovim"
        "ripgrep"
        "units"
        "python3"
        "python3-pip"
        "zsh" -}}


set -eufo pipefail

{{$sudo}}apt-get update
{{$sudo}}apt-get install -y {{ $packages | join " " }}

{{ else if eq .ostype "darwin" -}}
# OSX - Darwin
# ============================================================
#!/bin/sh
# zsh comes default with osx
brew install ripgrep
brew install neovim
{{ end -}}


{{ if eq .ostype "debian"}}
# Install Go
{{$sudo}}add-apt-repository -y ppa:longsleep/golang-backports
{{$sudo}}apt-get install -y golang

# Install LazyGit
LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit $HOME/.local/bin
{{end}}

{{ if or (eq .ostype "debian") (eq .ostype "darwin") -}}
# Install Debian/Darwin Apps
# ============================================================
# Install Rust using rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

# Install Node using fnm
curl -fsSL https://fnm.vercel.app/install | bash
fnm install --lts
fnm use lts/latest

# Install LunarVim
LV_BRANCH='release-1.2/neovim-0.8' bash <(curl -s https://raw.githubusercontent.com/lunarvim/lunarvim/fc6873809934917b470bff1b072171879899a36b/utils/installer/install.sh)
{{ end -}}