{{- $ostype := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" }}
{{-   $ostype = printf "%s" .chezmoi.osRelease.id -}}
{{-   if hasKey .chezmoi.osRelease "idLike" }}
{{-     $ostype = printf "%s" .chezmoi.osRelease.idLike -}}
{{-   end -}}
{{- end -}}

{{- $osinwsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $osinwsl = true -}}
{{-   end -}}
{{- end -}}

data:
  ostype: {{ $ostype | quote }}
  osinwsl: {{ $ostype | quote }}