# some more ls aliases
alias ll='ls -alF'
alias l='ls -CF'
alias la='ls -lA'
alias cls='clear'
alias ..='cd ..'
alias ...='cd ../..'

alias ranger='. ranger'
alias g='git'
alias h='history'
alias plz='sudo'
alias cm='chezmoi'


# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

{{if .osinwsl}}
alias clip='clip.exe'
{{end}}